In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [759]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data['revenue']-data['budget']
#data['all_genres'] = data.genres.apply(lambda x: x.split('|'))
data_explode = data.copy()
data_explode['director'] = data_explode['director'].str.split('|')
data_explode = data_explode.explode('director')
data_explode['genres'] = data_explode['genres'].str.split('|')
data_explode = data_explode.explode('genres')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
681,tt0918927,20000000,50907234,Doubt,Amy Adams|Philip Seymour Hoffman|Meryl Streep|...,John Patrick Shanley,There is no evidence. There are no witnesses. ...,"In 1964, a Catholic school nun questions a pri...",104,Drama|Mystery,Miramax Films,11/27/2008,6.7,2008,30907234
158,tt1911658,132000000,373552094,Penguins of Madagascar,Tom McGrath|Chris Miller|Christopher Knights|C...,Simon J. Smith|Eric Darnell,The Movie Event That Will Blow Their Cover,"Skipper, Kowalski, Rico and Private join force...",92,Family|Animation|Adventure|Comedy,DreamWorks Animation,11/22/2014,6.5,2014,241552094
255,tt0878804,29000000,309208309,The Blind Side,Sandra Bullock|Quinton Aaron|Kathy Bates|Tim M...,John Lee Hancock,Based on the extraordinary true story,"Oversized African-American, Michael Oher, the ...",129,Drama,Alcon Entertainment|Left Tackle Pictures|Zucke...,11/20/2009,7.1,2009,280208309
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002,59282312
640,tt0887883,37000000,163720069,Burn After Reading,George Clooney|Frances McDormand|Tilda Swinton...,Ethan Coen|Joel Coen,Intelligence is relative.,"A comedic tale of espionage, when an ousted CI...",96,Comedy|Drama,Mike Zoss Productions|Studio Canal|Relativity ...,9/5/2008,6.3,2008,126720069

In [290]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides.'
# если ответили верно, можете добавить комментарий со значком "+"

In [26]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data['budget'].max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [32]:
# можно добавлять разные варианты решения
data.loc[data['budget'].idxmax()].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [43]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [36]:
data.loc[data['runtime'].idxmax()].original_title

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [44]:
answers['3'] = data.loc[data['runtime'].idxmin()].original_title

# 4. Какова средняя длительность фильмов?

In [50]:
answers['4'] = int(round(data.runtime.mean(),0))

# 5. Каково медианное значение длительности фильмов?

In [54]:
answers['5'] = int(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [67]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data.loc[data['profit'].idxmax()].original_title

# 7. Какой фильм самый убыточный?

In [72]:
answers['7'] = data.loc[data['profit'].idxmin()].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [117]:
answers['8'] = data[data['revenue']>data['budget']].original_title.count()

# Еще вариант:
data.query('revenue>budget').original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [118]:
data[(data['release_year']==2008)].sort_values(by='revenue',ascending=False).original_title[599]

data9 = data[(data['release_year']==2008)]
answers['9'] = data9.loc[data9['revenue'].idxmax()].original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [128]:
data10 = data[(data['release_year']>=2012)&(data['release_year']<=2014)]
answers['10'] = data10.loc[data10['profit'].idxmin()].original_title

# 11. Какого жанра фильмов больше всего?

In [406]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_11 = data.copy()
data_11['genres'] = data['genres'].str.split('|')
data_11 = data_11.explode('genres')
all_genres = []
for g in data_11['genres']:
    all_genres.append(g)
answers['11'] = sorted(Counter(all_genres).items(), key=lambda x: x[1])[-1][0]

ВАРИАНТ 2

In [421]:
data_11.groupby('genres').count()[['imdb_id']].sort_values(by='imdb_id')

                 imdb_id
genres
Foreign                2
Documentary            8
Western               19
War                   58
History               62
Music                 64
Animation            139
Mystery              168
Horror               176
Fantasy              222
Science Fiction      248
Family               260
Romance              308
Crime                315
Adventure            415
Action               582
Thriller             596
Comedy               683
Drama                782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [425]:
profit_genres = []
for g in data_11[data_11['profit']>0].genres:
    profit_genres.append(g)
answers['12'] = sorted(Counter(profit_genres).items(), key=lambda x: x[1])[-1][0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [435]:
data_13 = data.copy()
data_13['director'] = data_13['director'].str.split('|')
data_13 = data_13.explode('director')
data_13.groupby('director').sum()[['revenue']].sort_values(by='revenue', ascending=False)

answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [329]:
data14 = data_explode[data_explode.genres.str.contains("Action")] 
data14[data14['genres']=='Action'].director.value_counts()
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [328]:
data_actor = data.copy()
data_actor['cast'] = data_actor['cast'].str.split('|')
data_actor = data_actor.explode('cast')
data_actor[data_actor['release_year']==2012].groupby('cast').agg('sum').sort_values(by='revenue', ascending=False)
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [437]:
data_16 = data.copy()
data_16 = data_16[data_16['budget']>data_16['budget'].mean()]
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')
data_16.cast.value_counts(ascending=False)
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [438]:
data_17 = data.copy()
data_17['cast'] = data_17['cast'].str.split('|')
data_17 = data_17.explode('cast')
data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('genres')
answers['17'] = sorted(Counter(data_17[data_17['cast']=='Nicolas Cage'].genres).items(), key=lambda x: x[1])[-1][0]

# 18. Самый убыточный фильм от Paramount Pictures

In [463]:
data_18 = data.copy()
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')
data_18 = data_18[data_18['production_companies']=='Paramount Pictures']
answers['18'] = data_18.loc[data_18['profit'].idxmin()].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [459]:
data.groupby('release_year').sum()[['revenue']].sort_values(by='revenue',ascending=False)
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [488]:
data_20 = data.copy()
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')
data_20 = data_20[data_20.production_companies.str.contains('Warner Bros')]
data_20.groupby('release_year').sum()[['profit']].sort_values(by='profit', ascending=False)
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [532]:
import datetime as dt
data_21 = data.copy()
data_21['release_date'] = pd.to_datetime(data_21['release_date'], format="%m/%d/%Y")
data_21['month'] = data_21.release_date.dt.month
data_21.groupby('month').count()[['original_title']].sort_values(by='original_title',ascending=False)
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [539]:
data_22 = data_21.copy()
answers['22'] = data_22.query('month in [6,7,8]').tagline.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [560]:
data_23 = data.copy()
data_23['director'] = data_23['director'].str.split('|')
data_23 = data_23.explode('director')
data_23['release_date'] = pd.to_datetime(data_21['release_date'], format="%m/%d/%Y")
data_23['month'] = data_23.release_date.dt.month
#data_23[data_23['month'].isin([12,1,2])].groupby('director').count()[['original_title']].sort_values(by='original_title')
data_23[data_23['month'].isin([12,1,2])].director.value_counts()
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [621]:
data_24 = data.copy()
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')
data_24['lenght'] = data_24['original_title'].str.len()
data_24.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [624]:
data_25 = data.copy()
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25['lenght'] = data_25['overview'].str.len()
data_25.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [641]:
#data_26 = data.copy()
#data_26[data_26['vote_average']>=(data['vote_average'].max())*0.99]
#percent_rating_value = 1
data.original_title[data.vote_average.quantile(.99) < data.vote_average]
answers['26'] = ['Inside Out','The Dark Knight','12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [769]:
#data_27 = data.copy()
#data_27['cast'] = data_27['cast'].str.split('|')
#match = {}
#count = 0
#for first in range(len(data_27['cast'])):
#    for second in range(len(data_27['cast'])):
#        if first >= second:
#            continue
#        elif len(list(set(data_27['cast'][first]) & set(data_27['cast'][second]))) < 2:
#            continue
#        else:
#            #print(first,second, list(set(data_27['cast'][first]) & set(data_27['cast'][second])))
#            match[data_27['original_title'][first]] = list(set(data_27['cast'][first]) & set(data_27['cast'][second]))

In [774]:
import itertools as it
data_27 = data.copy()
data_27['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data_27.cast_comb.values.sum()).most_common(5)
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

ВАРИАНТ 2

# Submission

In [775]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides.',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [776]:
# и убедиться что ни чего не пропустил)
len(answers)

27